
.form{
    width: 400px;
    height: 400px;
    background-color: gray;
    margin: 0 auto;
    padding:20px;
    z-index: 100;
}

.form label{
   color:white;
   font-size:18px;
 font-weight:400;
 
}
.form input{
    width:300px;
    border-radius: 5px;
    padding:2px;
    font-size:14px;
}

.signup-btn{
    margin:10px 50px;
    background-color: rgb(111, 120, 128);
    color:white;
    padding:2px 8px;
}

.signup-text{
    margin:10px 30px;
    color:white;
  
}